
set -e
R1K_TESTNAME=`basename $0 .sh`

R1K_PFX=Tests/_${R1K_TESTNAME}

rm -f ${R1K_PFX}.*

R1K_CLIFILE=${R1K_PFX}.cli

standard_patches() {
	# Dont use "CR ESC [ 2 K" to hide experiment names
	cli dfs patch FS_0.M200 0x8fb7 0x20
	cli dfs patch FS_0.M200 0x8fbd 0x20
	cli dfs patch FS_0.M200 0x827e 0x40 0x0a 0x0d

	# Poll experiment completion four times more often
	cli 'dfs patch FS_0.M200 0x93c6 0x00 0x14'
}

cli() {
	echo "$*" >> ${R1K_CLIFILE}
}

cli '# => Standard prefix'
cli 'disk mount 0 /critter/R1K/DiskImages/PE_R1K_Disk0.dd'
cli 'disk mount 1 /critter/R1K/DiskImages/PE_R1K_Disk1.dd'
cli 'console >' ${R1K_PFX}.console
cli 'console serial /dev/nmdm0B'
standard_patches

sc_boards() {
	cli '# => sc_all_boards'
	cli trace +systemc
	cli sc launch $*
	for brd in ioc fiu mem0 mem1 mem2 mem3 seq typ val
	do
	    echo "$*" | grep -q -i ${brd} || cli diproc dummy -TIMEOUT ${brd}
	done
	cli 'sc watchdog -dont_bite 5' 
	cli 'sc trace IOC.*CLNAN2 1'
	cli 'sc trace IOC.*TRAM 1'
}

cli_prompt() {
	cli "iop syscall internal"  

	cli '# => cli_prompt'
	cli iop reset
	cli 'console match expect "Boot from (Tn or Dn)  [D0] : "'
	cli 'console << ""'
	cli 'console match expect "Kernel program (0,1,2) [0] : "'
	cli 'console << ""'
	cli 'console match expect "File system    (0,1,2) [0] : "'
	cli 'console << ""'
	cli 'console match expect "User program   (0,1,2) [0] : "'
	cli 'console << ""'
	cli 'console match expect "Enter option [enter CLI] : "'
	cli 'console << "1"'
	cli 'console match expect "CLI>"'
}

expmon_cmd() {
	cli '# => expmon_cmd'
	cli 'console <<' "\"$*\""
	cli 'console match expect "EM>"'
}

expmon_prompt() {
	cli '# => expmon_prompt'
	cli_prompt
	cli 'console << "x expmon"'
	cli 'console match expect "EM>"'
	expmon_cmd '[set FIRST_PASS true]'
}

fru_prompt() {
	cli_prompt
	cli '# => fru_prompt'
	cli 'console << "x fru"'
	cli 'console match expect "Please enter option : "'
	for i in $*
	do
		cli "console << $i"
		cli 'console match expect " : "'
	done
}

run() {
	cli sc rate
	cli exit
	echo "exit" | ./r1000sim \
		-T /critter/_r1000 \
		"include ${R1K_CLIFILE}" 2>&1 | tee ${R1K_PFX}.log
	python3 Context/context.py > ${R1K_PFX}.ctx
	python3 Context/utrace.py > ${R1K_PFX}.utrace
}
